
# FVM Version Cache
.fvm/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# IntelliJ / Android Studio
.idea/
*.iml

# VSCode (팀에서 설정 공유 안 하면 ignore)
.vscode/

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
build/
coverage/

# Flutter plugin/metadata (대부분은 ignore 권장)
.flutter-plugins
.flutter-plugins-dependencies

# Local env files
.env
.env.*
*.keystore
*.jks

# Logs
*.log

# CocoaPods / Bundler (DO NOT COMMIT)
frontend/ios/Pods/
frontend/ios/Podfile.lock
frontend/ios/Runner.xcworkspace/
frontend/ios/.symlinks/
frontend/ios/Flutter/Generated.xcconfig
frontend/ios/Flutter/flutter_export_environment.sh
frontend/ios/CocoaPods/
frontend/ios/vendor/bundle/

CLAUDE.md
code_dump.txt
GEMINI.md
